.gomb1:hover {
    background-color: blueviolet;
    color: black !important;
    border-radius: 20px;
}

.gomb2:hover {
    background-color: red;
    color: black !important;
    border-radius: 20px;
}

.gomb3:hover {
    background-color: darkcyan;
    color: black !important;
    border-radius: 20px;
}

.dcg:hover {
    background-color: RGB(88, 101, 242);
    color: black !important;
    border-radius: 20px;
}

.navbar-nav .hover {
    color: red !important;
}

.kep {
    width: 40%;
    float: right;
}

#test {
    background-color: rgb(36, 36, 36);
    color: white;
}

.navll {
    border: black !important;
}

#k2 {
    padding-top: 10px;
}

#texter {
    text-decoration: none;
    color: green;
    font-weight: bold;
    font-style: italic;
}